/* draggableItem.css */
.draggable-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor:alias;
  transition: background-color 0.3s ease;
}

.draggable-item:hover {
  background-color: #2d3632;
  border: 1px solid #b2eccf;
}
