/* draggableItem.css */
.draggable-item {
  width: 96%;
  background-color: #313b36;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: grab;
  transition: background-color 0.3s ease;
}

.draggable-item:hover {
  background-color: #2d3632;
  border: 1px solid #6e7371;
}
